@model SampleMvcApp.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <div> 
        <h1>@Model.EmpName</h1>
        <hr />
        <p>The Addres is @Model.EmpAddress</p>
    </div>
    <hr />
    <p><i>Powered by ASP.NET MVC 5.0</i></p>
</body>
</html>

